---
import Experience from '../components/Experience.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Experience/>
	</main>
</Layout>

<style>
	
</style>
