<header class="flex flex-row items-center justify-between w-[80%] h-28">
  <img class="w-10 h-auto" src="/favicon.svg" />
 <ul class="flex flex-row items-center gap-10 text-teal-500 ">
    <a class="hover:underline hover:underline-offset-4 hover:text-pink-600">Inicio</a>
    <a class="hover:underline hover:underline-offset-4 hover:text-pink-600">Experiencia</a>
    <a class="hover:underline hover:underline-offset-4 hover:text-pink-600">Stack</a>
    <a class="hover:underline hover:underline-offset-4 hover:text-pink-600">Proyecto</a>
    <a class="hover:underline hover:underline-offset-4 hover:text-pink-600">Blog</a>
 </ul>
</header>

<style>
  
</style>
